<div layout="column">
    <md-toolbar class="mdtoolbar" >
        <md-nav-bar>

            <md-nav-item md-nav-sref="home" name="home">Home</md-nav-item>
            <md-nav-item md-nav-sref="classes" name="classes">classes</md-nav-item>
            <md-nav-item md-nav-sref="about" name="about">About</md-nav-item>
            <md-nav-item md-nav-sref="account" name="gallary">Gallary</md-nav-item>
            <md-nav-item md-nav-sref="account" sref-opts="{reload:true, notify:true}">
                Page Six
            </md-nav-item>
        </md-nav-bar>
    </md-toolbar>
    <div layout="row"  flex id="projectsidemenu" layout-align="center ">
        <md-sidenav md-component-id="left" class="md-whiteframe-4dp md-sidenav-left" md-is-locked-open="true" >
            <md-sidemenu locked="true">

                <md-subheader class="md-no-sticky" md-icon="supervisor_account" style="font-size: 22px;background-color: #267ED5; color: black;margin-bottom: 18px;">
                    Caption
                </md-subheader>
                <md-sidemenu-group  style="margin-top: 30px; background-color: darkcyan;" ng-repeat="menu in homeMenuList" >
                    <md-sidemenu-content md-icon="{{menu.menuIcon}}"  md-heading="{{menu.menuName}}"  class="menuButton "  md-arrow="true" >
                        <md-sidemenu-button  class="menuButton "   ui-sref="{{menu.menuLink}}">{{menu.menuLink}}</md-sidemenu-button>
                        <md-sidemenu-button  class="menuButton " ui-sref="{{menu.menuLinkf}}"  >{{menu.menuLinkf}}</md-sidemenu-button>

                    </md-sidemenu-content>

                </md-sidemenu-group>
            </md-sidemenu >

        </md-sidenav>
        <md-content class="lightgreen" id="content" flex >mdconte

            <h1>{{book}}</h1>

        </md-content>
    </div>



</div>